
<div class="container">
<h1> Projeto Angular | Adoção </h1>

<div *ngIf="!auth.user">
  <form>
    <fieldset class="form-fieldset">
      <legend>Login</legend>
      <div class="single-input">Email</div>
      <input class="input" type="text" name="email" [(ngModel)]="email" />
      <div class="single-input">Senha</div>
      <input class="input" type="password" name="password" [(ngModel)]="password" />
      <br>
      <button (click)="auth.emailSignin(email, password)" >
        Logar com e-mail
      </button>
      <button class="google-button" (click)="auth.googleSignin()" >
        Logar com Google
      </button>
    </fieldset>
  </form>
</div>


<div *ngIf="auth.error" style="color: red">
  {{ auth.error }}
</div>
<div *ngIf="auth.user">
Conectado como | <b>{{ auth.user.email }}</b>
  <button class="exit" (click)="auth.signOut()">Exit</button>
  <hr />

  <h2>Animais para adoção</h2>
  <hr />

  <table  border="2" class="adoption-table">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Foto</th>
      <th>Selecionar</th>
    </tr>
    <tr *ngFor="let animal of animals">
    <td>{{ animal.nome }}</td>
    <td>{{ animal.tipo }}</td>
    <td class="animal-img-cell"><img [src]="animal.foto" [alt]="animal.nome" /></td>
    <td><input class="input" type="checkbox" [(ngModel)]="animal.selecionado" /></td>
  </tr>
  </table>

  <h2>Preencha o formulário de adoção</h2>
  <hr />

  <form (ngSubmit)="submitForm()">
    <fieldset>
      <legend>Formulário de Adoção</legend>
      <div>Nome</div>
      <input class="input" type="text" name="nome" [(ngModel)]="formData.nome" />
      <div>CPF</div>
      <input class="input" type="number" name="cpf" [(ngModel)]="formData.cpf" />
      <div>Telefone</div>
      <input class="input" type="number" name="telefone" [(ngModel)]="formData.telefone" />
      <br>
      <button type="submit">Confirmar Adoção</button>
    </fieldset>
  </form>
</div>

<div *ngIf="adocaoConfirmada">
<h2>Parabéns pela adoção!</h2>
<!-- Conteúdo adicional de parabenização -->
</div>
</div>
